
center {
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    background-color: #4CB5AB;
    color: white;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 5px #222222;
    position: relative;
}

h1 {
    margin: 0px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 32;
}

h3 {
    margin: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 22;
}

/* NOTE: vecchio menu verticale non adattivo
.vertical-menu a {
    background-color: #445963;
    color: #FFFFFF;
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    vertical-align: middle;
}

.vertical-menu a:hover {
    background-color: #1B3039;
    color: #FFFFFF;
}

.vertical-menu a:active {
    background-color: #708690;
}*/

/* NOTE: CSS per barra di navigazione */
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #445963;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

ul.sidenav li a:hover{
    background-color: #1B3039;
    color: #FFFFFF;
}

ul.sidenav li a.active {
    background-color: #4CB5AB;
    color: #FFFFFF;
    box-shadow: 0px 3px 3px 0px #1B3039;
}

div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 100%;
}

.dropdown {
    display: none;
}

@media screen and (max-width: 1200px) {
    .dropdown {
        display: none;
    }

    ul.sidenav {
        width: 100%;
        position: relative;
        height: auto;
        box-shadow: 0px 3px 3px 0px #1B3039;
    }

    ul.sidenav li a {
        float: left;
        padding: 15px;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    ul.sidenav {
        display: none;
    }

    /* NOTE: ul.sidenav li a {
        text-align: center;
        float: none;
        padding: 15px;
    }

    .dropbtn {
        display: block;
        background-color: #4CB5AB;
        color: #FFFFFF;
        padding: 15px;
        border: none;
        cursor: pointer;
    }

    .dropdown:hover .dropbtn {
        background-color: #81E8DD;
        color: black;
    }*/

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        background-color: #445963;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown_content a {
        color: #FFFFFF;
        padding: 15px;
        text-decoration: none;
        display: block;
    }

    .dropdown_content a:hover {
        background-color: #1B3039;
    }

    .dropdown_content a.active {
        color: #4CB5AB;
    }

    .dropdown:hover .dropdown_content {
        display: block;
    }
}


/* NOTE:
ul {
    background-color: #708690;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #708690;
}

li a:active{
    background-color: #708690;
}

.sub_menu {
  background-color: #000000;
  color: #FFFFFF;
} */
